.container {
    width: 60%;
    margin: auto;
    margin-top: 90px;
}

h2.ui.header {
    text-align: center;
}

.about-paragraph {
    color: grey;
    margin-top: 20px !important;
    font-size: 26px !important;
    font-weight: lighter !important;
}