.event-details-header {
  position: relative;
  display: block;
  width: 900px;
  margin: 50px auto;
}

.event-return-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.event-return-btn-icon {
  padding-right: 5px;
}

.event-details-card {
  position: relative;
  height: 450px;
  width: 900px;
  margin: 85px auto;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.artist-poster {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 530px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.event-details-content {
  margin-left: 590px;
  margin-right: 20px;
  padding-top: 10px;
}

.artist-name {
  color: #4b4b4b;
}

.separator {
  margin: 10px 0;
  border: 1px solid rgb(53, 53, 53);
}

.event-details-content p {
  text-align: justify;
  padding-top: 10px;
  font-size: 1.5rem;
  line-height: 125%;
  color: #4b4b4b;
}

.date-and-icons {
  position: absolute;
  bottom: 0;
}

.large-date-container {
  position: absolute;
  width: 120px;
  left: 30px;
  bottom: 20px;
  text-align: center;
}

.large-date {
  font-size: 6rem;
  color: #c3c3c3;
}

.large-month-container {
  position: absolute;
  width: 120px;
  left: 30px;
  bottom: 0px;
  text-align: center;
}

.large-month {
  font-size: 2rem;
  color: #c3c3c3;
}

/* Those futur buttons */
.selected-event-icons {
  margin-left: 325px;
  margin-bottom: 15px;
}

.selected-event-icons li {
  display: inline;
  list-style: none;
  margin-right: 150px;
  color: #7b7b7b;
}

.event-icons:hover {
  transform: scale(1.25);
  cursor: pointer;
}
