.footer {
  height: 150px;
  background: #8B008B;
  position: relative;
  text-align: center;
  align-items: center;
  color: white;
}

.spans {
  padding-top: 35px !important;
}

.footer {
  margin-top: 40px;
}